<footer class="Footer">
  <div class='Footer-links'>
    <a href='mailto:support@qzzr.com' class='Footer-links-item'>
      Contact
    </a>
    <a href='/terms-of-service/index.html' class='Footer-links-item'>
      Terms of Service
    </a>
    <a href='/privacy-policy/index.html' class='Footer-links-item'>
      Privacy Policy
    </a>
    <a href='/cookie-policy/index.html' class='Footer-links-item'>
      Cookie Policy
    </a>
    <a href='/content-guidelines/index.html' class='Footer-links-item'>
      Content Guidelines
    </a>
  </div>
  <span class="Footer-copy">&copy; 2022 Qzzr Inc.</span>
</footer>
