.Benefit {
  width: 33.33333%;
  box-sizing: border-box;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  color: #E05151;

  &-circle {
    display: block;
    width: 50%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    flex-shrink: 0;
    &-figure {
      display: block;
      border-radius: 1000px;
      border: 4px solid;
      border-color: initial;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
      }
      &-image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }

  &-note {
    display: block;
    width: 50%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  &:nth-child(2) {
    color: #FECF58;
  }

  &:nth-child(3) {
    color: #5DA1E0;
  }
}

@media (max-width: 900px) {
  .Benefit {
    margin: 0 auto 3rem;
    width: 100%;
    max-width: 400px;
  }
}