.Feature {
  box-sizing: border-box;
  width: 25%;
  padding: 1.5rem;
  &-note {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .1em;
    margin-top: 1.5rem;
    &:before {
      content: '';
      display: block;
      width: 3rem;
      border: 2px solid rgba(94, 80, 234, 1);
      border-radius: 200px;
      margin-right: 1.5rem;
      margin-top: -6px;
    }
  }
  &-figure {
    display: block;
    &-image {
      display: block;
      width: 100%;
      border-radius: .5rem;
      box-shadow: 0px 10px 120px rgba(94, 80, 234, 0.4);
    }
  }

  &:nth-child(2) &-figure-image {
    box-shadow: 0px 10px 120px rgba(224, 81, 81, 0.4);
  }

  &:nth-child(2) &-note:before {
    border-color: rgba(224, 81, 81, 1);
  }

  &:nth-child(3) &-figure-image {
    box-shadow: 0px 10px 120px rgba(71, 230, 135, 0.4);
  }

  &:nth-child(3) &-note:before {
    border-color: rgba(71, 230, 135, 1);
  }

  &--big {
    width: 50%;
  }
}