.Longform {
  max-width: 900px;
  margin: 12rem auto;
  padding: 0 3rem;
  &-heading {
    font-size: 7rem;
    line-height: 90px;
    font-weight: bold;
    letter-spacing: -.05em;
    padding-bottom: 8rem;
  }
  &-paragraph,
  &-features-item {
    line-height: 2em;
    padding-bottom: 2rem;
  }
  &-features-item {
    padding-left: 3rem;
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '·';
      color: #5E50EA;
      font-weight: bold;
    }
  }
  &-section{
    &-heading {
      font-size: 3rem;
      font-weight: bold;
      line-height: 1em;
      padding: 2rem 0;
    }
  }
  &-ordered-list,
  &-unordered-list {
    padding-left: 4rem;
    margin-left: 0;
    padding-bottom: 2rem;
    line-height: 2em;
    li {
      list-style-type: decimal;
    }
  }
  &-unordered-list {
    li {
      list-style-type: disc;
    }
  }
}

@media (max-width: 800px) {
  .Longform {
    font-size: 1.5rem;
    &-heading {
      font-size: 3rem;
      line-height: 1em;
    }
    &-section {
      &-heading {
        font-size: 2rem;
      }
    }
  }
}